body {
    font-family: monospace;
}

h1 {
    margin-top:0px;
}

#map-editor {
    padding: 20px;
}

#canvas-config {
    margin-bottom:10px;
}

#canvas td {
    border: 0px;
    padding: 0px
}

#canvas  td.show-gridlines {
    border: 1px solid lightgrey; 
}

#canvas td img {
    display: block;
}

#canvas table {
    border-collapse: collapse;
}

#toolset {
    display: none;
    margin-top: 10px;
}

#toolset .tools, #palette {
    padding: 4px;
    border: 1px solid #91765d;
    background-color: #eee;
    vertical-align: middle;
}

#toolset .tools:hover {
    border-color: #F0C49B
}

#toolset .tools.activated {
    border-color: red;
    background-color: darkgrey;
}

#toolset .tools img {
    width: 20px;
    height: 20px;
    padding: 0px;
}

#palette {
    margin-top:10px;
    max-width: 300px;
    display: inline-block;
}

#palette p {
    display: none;
    padding: 5px;
}

#multi-placement-status {
    color: red;
}

#open-file-input {
    display: none;
}
